html{
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

body{
	padding: 0;
	margin: 0;
}
.mainheader{
	text-align: center;
	background-color: #16210b;
	color: white;
	padding: 4em;
}