html{
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 110%;
}

body{
	padding: 0;
	margin: 0;
}
.main-header{
	text-align: center;
	background-color: #16210b;
	color: white;
	padding: 4em;
}

	.main-header h1{
		margin: 0;

	}

	.main-header h2{
		font-size: 1rem;
		font-weight: normal;
	}