html{
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 110%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	html{
		font-size: 80%;
	}
}
body{
	padding: 0;
	margin: 0;
}
.main-header{
	text-align: center;
	background-color: #16210b;
	color: white;
	padding: 4em;
}

	.main-header h1{
		margin: 0;

	}

	.main-header h2{
		font-size: 1rem;
		font-weight: normal;
	}

/*	@media all and (orientation: landscape ) {
		.main-header{
			background-color: olive;
		}
	}*/
	.card{
		height: 30vh;
		width: 100%;
		
		background-size: cover;
		color: white;
		padding: .4em;
		font-family: 'Megrim', cursive;
		position: relative;
	}

	.card--valencia{
		background-image: url(img/back.jpg);
	}
	.card--mv{
		background-image: url(img/mv.jpg);
	}
	.card__title{
		margin: 0;
		text-align: center;
		font-size: 2rem;
	}
	.card__date{
		font-size: .7rem;
		margin: 0;
		text-align: center;
	}

	@media all and (min-width: 28em) {
		.card{
			background-image: url(img/frog.jpg);
			background-position: center;
		}
	}
	.card__info{
		position: absolute;
		bottom: .4em;
		left: .4em;
		
		text-align: center;

	}

	.card__image{
		display: block;
	}
	.card__temp{
		font-size: 3rem;
		line-height: 1;
	}
	.card__maxt::before{
		content: "Max"
	}
	.card__mint::before{
		content: "Min "
	}